<section class="container">
  <div class="row">
      <div class="col-3">
        <button style="position: absolute;top: 10%;right:73%;top:0%" class="btn">
          <i class="bi bi-arrow-left-circle-fill" style="font-size: 4rem; color: #A017E0;"></i>
        </button>
      </div>
    
      <div class="col-6">
        <img src="./img/Logo.png" alt="Logo" class="img-fluid"/>
      </div>
    
      <div class="col-3">
        <button style="position: absolute;top: 10%;left:73%;top:0%" class="btn">
          <i class="bi bi-person-circle" style="font-size: 4rem; color: #A017E0;"></i>
        </button>
      </div>
  </div>
</section>