<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>

  <title>Tonight</title>

  <body>
    
    <section class="container">
      <div class="row">
        <div class="col-3">
          <button style="position: absolute;top: 10%;right:73%;top:0%" class="btn" onclick="location.href='/welcome_bussiness/'">
            <i class="bi bi-arrow-left-circle-fill" style="font-size: 4rem; color: #A017E0;"></i>
          </button>
        </div>

        <div class="col-6">
          <img src="/media/media/Logo.png" alt="Logo" class="img-fluid"/>
        </div>
      
        <div class="col-3">
          <button style="position: absolute;top: 10%;left:73%;top:0%" class="btn" onclick="location.href='/logout/'">
            <i class="bi bi-backspace-reverse-fill" style="font-size: 4rem; color: #A017E0;"></i>
          </button>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="row">
        <img src="/media/{{ empresa.imagen }}" alt="imagen perfil" class="img-party"/>
      </div>
    </section>

    <section class="container">

      <div class="row" style= "margin-top: 3%;">
        <div class="column" style= "width: 58%;">
            <div class="container party-infobox text-white">
              <p>Nombre: {{ empresa.user.username }}</p>
            </div>

            <div class="container party-infobox text-white">
              <p>Correo: {{ empresa.user.email }}</p>
            </div>

            <div class="container party-infobox text-white">
              <p>Teléfono: {{ empresa.tlf }}</p>
            </div>
            <div class="container party-infobox text-white">
              <form id="boton_editar" action="/eventos/crear">
                <input type="submit" value="Crear evento" />
              </form>
            </div>
            </div>
        </div>
      </div>
    </section>

    <section class="container profile-infobox">
        {% for x in eventos %}
      <div class="row" style= "margin-top: 3%;">
        <div class="column" style= "width: 33%;">
          <p class="profile-text">{{x.nombre}}</p>
        </div>

        <div class="column" style= "width: 33%;">
          <p class="profile-text">{{x.fecha|date:"d/m/Y" }}</p>
        </div>

        <div class="container party-infobox text-white">
          <form id="boton_editar" action="/eventos/{{x.id}}">
            <input type="submit" value="Ver detalle" />
          </form>
        </div>

        <hr class="divider" style="height: 3px;">
      </div>
      {%endfor%}
    </section>

  </body>
</html>