<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
</head>
<body>
  
    
    <div class="lista_de_eventos">

        <h1>Lista de eventos</h1>

        {% for x in eventos %}

        {% if x.imagen == '' %}
        {% else %}
        <img src="{{x.imagen.url}}" alt="{{x.imagen.url}}"/><br><br>
        {% endif %}
            {{x.nombre}} {{x.fecha|date:"d/m/Y" }} {{x.precioEntrada}}€ <br><br>

        {%endfor%}

        <form id="boton_crear" action="crear">
            <input type="submit" value="Crear evento" />
        </form>
    </div>

</body>
</html>