{% extends "headers/header_CRUD.html" %}
<html lang="en">
<body>
  {% block content %}
    <section class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form2.as_p }}
            <input type="submit" value="Editar"> 
            <p style = 'color : white'>Al registrarte, aceptas nuestras<a href="/terminos/">Condiciones.</a>Obtén más información 
              sobre cómo recopilamos, usamos y compartimos tu información en la Política de datos, 
              así como el uso que hacemos de las cookies y tecnologías 
              similares en nuestra Política de cookies.</p>
        </form>  
    </section>
  {% endblock %}
</body>
</html>