{% extends "headers/header_profile.html" %}
<html lang="en">
  <body>
    {% block content %}
    <section class="container">
      <div class="row">
        <img src="/media/{{ empresa.imagen }}" alt="imagen perfil" class="img-party"/>
      </div>
    </section>

    <section class="container">

      <div class="row" style= "margin-top: 3%;">
        <div class="column" style= "width: 58%;">
            <div class="container party-infobox text-white">
              <p>Nombre: {{ empresa.user.username }}</p>
            </div>

            <div class="container party-infobox text-white">
              <p>Correo: {{ empresa.user.email }}</p>
            </div>

            <div class="container party-infobox text-white">
              <p>Teléfono: {{ empresa.tlf.national_number }}</p>
            </div>
        </div>
      </div>
      
    
      <div class="row">
        <div class="col-2">
          <button style="position: relative; margin-left: 50%; margin-right: 50%;" class="btn" onclick ="location.href='/empleados/crear'">
            <i class="bi bi-person-plus-fill" style="font-size: 3rem; color: #A017E0;"></i>
          </button>
        </div>
        <div class="col-2">
          <button style="position: relative; margin-left: 50%; margin-right: 50%;" class="btn" onclick ="location.href='/eventos/crear'">
            <i class="bi bi-calendar-plus-fill" style="font-size: 3rem; color: #A017E0;"></i>
          </button>
        </div>
        <div class="col-2">
          <button style="position: relative; margin-left: 50%; margin-right: 50%;" class="btn" onclick ="location.href='/empresa/{{empresa.id}}/editar'">
            <i class="bi bi-person-circle" style="font-size: 3rem; color: #A017E0;"></i>
          </button>
        </div>
        <div class="col-2">
          <button style="position: relative; margin-left: 50%; margin-right: 50%;" class="btn" onclick ="location.href='/{{empresa.user.id}}/password'">
            <i class="bi bi-lock-fill" style="font-size: 3rem; color: #A017E0;"></i>
          </button>
        </div>
        <div class="col-2">
          <button style="position: relative; margin-left: 50%; margin-right: 50%;" class="btn" onclick ="location.href='/empresa/{{user.id}}/eliminar'">
            <i class="bi bi-trash-fill" style="font-size: 3rem; color: #A017E0;"></i>
          </button>
        </div>

    </section>

    <section class="container profile-tickets-list-card">
        {% for x in eventos %}
      <div class="row" style="border-bottom:2px solid">
        <div class="column" style= "width: 30%;margin-top:1rem">
          <p style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden"class="profile-text">{{x.nombre}}</p>
        </div>

        <div class="column" style= "width: 30%;margin-top:1rem">
          <p class="profile-text">{{x.fecha|date:"d/m/Y" }}</p>
        </div>

        <div class="column" style= "width: 30%;margin-top:1rem;margin-left: 10%">
          <button type="button" class="see-ticket-button text-white" onclick="location.href='/eventos/{{ x.id }}'">Ver</button> 
        </div>

      </div>
      {%endfor%}
    </section>
    {% endblock %}
  </body>
</html>

            