{% extends "headers/header_profile.html" %}
<html lang="en">
  <body>
    {% block content %}
    <section class="container">
      <div class="row">
        <img src="/media/{{ empresa.imagen }}" alt="imagen perfil" class="img-party"/>
      </div>
    </section>

    <section class="container">

      <div class="row" style= "margin-top: 3%;">
        <div class="column" style= "width: 58%;">
            <div class="container party-infobox text-white">
              <p>Nombre: {{ empresa.user.username }}</p>
            </div>

            <div class="container party-infobox text-white">
              <p>Correo: {{ empresa.user.email }}</p>
            </div>

            <div class="container party-infobox text-white">
              <p>Teléfono: {{ empresa.tlf.national_number }}</p>
            </div>
        </div>
      </div>
      
      <div class="row" style= "margin-top: 3%;display:inline-block;width:59%">
        <div class="container">
          <button type="button" class="see-ticket-button text-white" onclick="location.href='/empleados/crear'">
            <i style="font-size:27px;margin-top:10%" class="material-icons">person_add</i><p>Crear empleado</p></button> 
        </div>
      </div>

      <div class="row" style= "margin-top: 3%;display:inline-block;width:52%;float:right">
        <div class="container">
          <button type="button" class="see-ticket-button text-white" onclick="location.href='/eventos/crear'">
            <i style="font-size:30px;margin-top:10%" class="material-icons">event</i><p>Crear evento</p></button> 
        </div>
      </div>

      <div class="row" style= "display: inline-block;width:59%;">
        <div class="container">
          <button type="button" class="see-ticket-button text-white" onclick="location.href='/{{empresa.user.id}}/password'">
            <i style="font-size:27px;margin-top:10%" class="material-icons">password</i><p>Editar contraseña</p></button> 
        </div>
      </div>

      <div class="row" style= "display:inline-block;width:52%;float:right">
        <div class="container">
          <button type="button" class="see-ticket-button text-white" onclick="location.href='/empresa/{{empresa.id}}/editar'">
            <i style="font-size:30px;margin-top:10%" class="material-icons">edit</i><p>Editar perfil</p></button> 
        </div>
      </div>

      <div class="row" style= "display: inline-block;width:59%">
        <div class="container">
          <button type="button" class="see-ticket-button text-white" onclick="location.href='/empresa/{{user.id}}/eliminar'">
            <i style="font-size:27px;margin-top:10%" class="material-icons">delete</i><p>Borrar cuenta</p></button> 
        </div>
      </div>
    </section>

    <section class="container profile-tickets-list-card">
        {% for x in eventos %}
      <div class="row" style="border-bottom:2px solid">
        <div class="column" style= "width: 30%;margin-top:1rem">
          <p style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden"class="profile-text">{{x.nombre}}</p>
        </div>

        <div class="column" style= "width: 30%;margin-top:1rem">
          <p class="profile-text">{{x.fecha|date:"d/m/Y" }}</p>
        </div>

        <div class="column" style= "width: 30%;margin-top:1rem;margin-left: 10%">
          <button type="button" class="see-ticket-button text-white" onclick="location.href='/eventos/{{ x.id }}'">Ver</button> 
        </div>

      </div>
      {%endfor%}
    </section>
    {% endblock %}
  </body>
</html>

            