{% extends "headers/header_detalles.html" %}
<html lang="en">
<body>
  {% block content %}

    <section class="container party-list-card text-white" style="margin-top: 5%;"> 
      <div class="row" >
        <div class="container party-list-card-title text-white">
          <h3>Tiempo hasta que empiecen tus eventos:</h3>
          {% for x in entradas %}
            <h2>{{ x.evento.nombre }}</h2>
            <ul>
              <li>{{ x.get_time_to_start }}</li>
            </ul>
          {% empty %}
            <h3>No estás inscrito a ningún evento en el que vayas a participar!</h3>
          {%endfor%}
        </div>
      </div>
    </section>
    {% for notificacion in notificaciones %}
    <section class="container party-list-card text-white" style="margin-top: 5%;"> 
      <div class="row" >
        <div class="container party-list-card-title text-white">
          <p>{{ notificacion.mensaje }}</p>
          <button type="button" class="party-button text-white" onclick="location.href='/notificaciones/{{notificacion.id}}/borrar'">
            Borrar</button>
        </div>
      </div>
    </section>
    {% endfor %}
  {% endblock %}
</body>
</html>