{% extends "headers/header_detalles.html" %}
<html lang="en">
<body>
  {% block content %}
    {% for notificacion in notificaciones %}
    <section class="container party-list-card text-white" style="margin-top: 5%;"> 
      <div class="row" >
        <div class="container party-list-card-title text-white">
          <p>{{ notificacion.mensaje }}</p>
          <button type="button" class="party-button text-white" onclick="location.href='/notificaciones/{{notificacion.id}}/borrar'">
            Borrar</button>
        </div>
      </div>
    </section>
    {% endfor %}
  {% endblock %}
</body>
</html>